/* CSS Document */
.qr img{width:100%;}
.setqr{margin:0px auto -20px auto;width:160px;height:160px;border:1px #CCCCCC solid;}
/*主播申请*/
.b45{width:47%;float:left;}
.b45r{width:47%;float:right;}
.b45 img,.b45r img{width:100%;max-height:100px;margin-top:-10px;}
.t-20{margin-top:-20px;}
.wb90{padding:5% 10% 0px 10%;}
.wb902{padding:5% 10% }
.ownse{height:50px;width:1300px;position:absolute;top:54px;margin-left:-200px;left:395px;opacity:1;transition:.3s;z-index:5;}/*border:1px solid #333;*/
@media screen and (max-width:1550px){
	.ownse{opacity:0;transition:.3s;}
	}
.w150{width:150px;}
.ownse button{margin-top:-5px;}
